.roadmap-list-container {
  @include flex(column, nowrap, center, initial, initial);
  @include width-height(100%, 100%);
  background-image: url('../../assets/images/tree.webp');
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: bottom center;
  @media screen and (max-width: 1024px) {
    background-image: none;
  }
  .roadmap-list {
    list-style: none;
    .learns-skills-container {
      @include flex(row, nowrap, initial, center, 0.6rem);
      .learns-skills-year,
      p,
      h3 {
        margin: 0;
      }
      li {
        margin: 9px 27px;
      }
      .learns-skills-title-container {
        @include flex(row-reverse, nowrap, center, center, 0.6rem);
        .learns-skills-title {
          @extend.learns-skills-year;
        }
      }
      .learn-list-item {
        @extend.flex;
      }
      .learns-skills-link {
        @include flex(column, nowrap, initial, center, 0.6rem);
        @media screen and (min-width: 675px) {
          flex-direction: row;
        }
        width: 100%;
        .learns-skills {
          @extend.flex;
          text-align: center;
          @media screen and (min-width: 675px) {
            text-align: right;
          }
        }
        .text-color {
          @extend.learns-skills-year;
          text-align: right;
        }
      }
    }
  }
}

.displaying-roadmap-block {
  padding: 27px;
  @include flex(column, wrap, center, flex-start, 0.6rem);
  align-content: center;
  border-radius: 9px;
  color: map-get($color-map, white__normal);
  box-shadow: map-get($box-shadow, shadow__card);
}

.learns-skills-logo {
  @include width-height(27px, 27px);
}

.courses-skills-box {
  p {
    margin: 0;
  }
  .courses-skills-container {
    margin: 9px 27px;
    @include flex(column, nowrap, initial, center, 0.6rem);
    width: auto;
    @media screen and (min-width: 675px) {
      flex-direction: row;
    }
    .courses-skills-title-container {
      @include flex(column, nowrap, initial, center, initial);
      @media screen and (min-width: 675px) {
        width: 100%;
        flex-direction: row;
      }
    }
    .courses-link {
      @include flex(column, nowrap, initial, center, 0.6rem);
      width: 100%;
      @media screen and (min-width: 675px) {
        flex-direction: row;
      }
    }
  }
}
.courses-skills-description-container {
  //   padding: 9px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  h4 {
    margin: 0 0 0.6rem;
  }
  p {
    margin: 0.6rem 0 0;
  }
}

.flex {
  //   @include flex(row, nowrap, center, center, 0.6rem);
  width: 100%;
  @include flex(column, nowrap, initial, center, 0.6rem);
  @media screen and (min-width: 675px) {
    flex-direction: row;
  }
}

.graduate-list-item {
  margin: 9px 27px;
  p {
    margin: 0 0 0.3rem 0;
  }
  .graduate-skill-content-box {
    // @include flex(row, nowrap, initial, center, 0.6rem);
    width: 100%;
    @include flex(column, nowrap, initial, center, 0.6rem);
    @media screen and (min-width: 675px) {
      flex-direction: row;
    }
    .graduate-skill-content-item {
      text-align: center;
      @extend.graduate-skill-content-box;
    }
  }
  a {
    @include flex(column, nowrap, initial, center, 0.6rem);
    @media screen and (min-width: 675px) {
      flex-direction: row;
    }
  }
}

.decoration-box {
  margin: auto;
  padding: 18px 0;
  border-radius: 6px;
  background-color: map-get($color-map, grey__dark);
  box-shadow: map-get($box-shadow, shadow__card);
  width: 98%;
}

.career-title,
#career-graduated,
#career-learn,
#career-incoming {
  color: map-get($color-map, grey__dark);
  border-bottom: solid 3px map-get($color-map, grey__dark);
}

.skill-map-box,
.learn-map-box,
.roadmap-map-box {
  padding: 18px 9px;
  outline: solid 3px map-get($color-map, grey__dark);
  border: solid 3px map-get($color-map, white__normal);
  border-radius: 6px;
  @include flex(column, nowrap, initial, center, 1.8rem);
  //   background-color: map-get($color-map, grey__dark);
  box-shadow: map-get($box-shadow, shadow__card);
  width: 90%;
  //   width: 100%;
  @media screen and (min-width: 676px) {
  }
}
