.roadmap-list-container {
  border-radius: 3px;
  @include flex(column, nowrap, center, initial, initial);
  background-color: map-get($color-map, grey__light);
  @include width-height(fit-content, 100%);
  @media screen and (max-width: 1024px) {
    @include width-height(100%, 100%);
  }
  .roadmap-list {
    padding-right: 9px;
    list-style: none;
    .learns-skills-container {
      @include flex(row, nowrap, initial, center, 0.6rem);
      .learns-skills-year,
      .learns-skills-title-container {
        @include flex(column-reverse, nowrap, center, center, 0.6rem);
        .learns-skills-title {
          @extend.learns-skills-year;
        }
      }
      .learn-list-item {
        @extend.flex;
      }
      .learns-skills-link {
        @include flex(column, nowrap, initial, center, 0.6rem);
        width: 100%;
        @media screen and (min-width: 675px) {
          // flex-direction: row;
        }
        .learns-skills {
          @extend.flex;
          text-align: center;
          @media screen and (min-width: 675px) {
            text-align: right;
          }
        }
        .text-color {
          @extend.learns-skills-year;
          text-align: right;
        }
      }
    }
  }
}

.displaying-roadmap-block {
  padding: 18px 27px;
  @include flex(column, wrap, center, flex-start, 0.6rem);
  align-content: center;
}

.learns-skills-logo {
  @include width-height(39px, 39px);
}

.courses-skills-box {
  // width: 60%;
  p {
    margin: 0;
  }
  .courses-skills-container {
    margin: 9px 27px;
    @include flex(column, nowrap, initial, center, 0.6rem);
    width: 100%;
    .courses-skills-year {
      margin: 0;
    }
    .courses-skills-title-container {
      @include flex(column, nowrap, initial, center, initial);
      width: 100%;
      @media screen and (min-width: 675px) {
        flex-direction: row;
      }
    }
    .courses-link {
      @include flex(column, nowrap, initial, center, 0.6rem);
      width: 100%;
    }
  }
}
.courses-skills-description-container {
  @include flex(column, nowrap, initial, center, 0.6rem);
  text-align: center;
  @include width-height(100%, initial);
  h4,
  p {
    margin: 0;
  }
  @media screen and (max-width: 720px) {
    @include flex(row, wrap, center, center, 0.6rem);
  }
  @media screen and (min-width: 720px) {
    @include flex(row, wrap, center, center, 0.6rem);
    text-align: initial;
  }
}

.flex {
  margin: 9px 27px;
  @include flex(column, nowrap, initial, center, 0.6rem);
  text-align: center;
  width: 100%;
}

.roadmap-list-item {
  @include flex(column, nowrap, center, center, initial);
}
// CLASS À VERIFIER
.graduate-list-item {
  margin: 9px 27px;
  @include flex(column, nowrap, center, initial, 0.6rem);
  @include width-height(100%, initial);
  p {
    margin: 0 0 0.3rem 0;
  }
  .graduate-skill-content-box {
    @include flex(column, nowrap, center, center, 0.6rem);
    @include width-height(100%, initial);
    @media screen and (min-width: 675px) {
    }
    .graduate-skill-content-item {
      text-align: center;
      @extend.graduate-skill-content-box;
    }
  }
  a {
    @include flex(column, wrap, initial, center, 0.6rem);
  }
}

.career-title,
#career-graduated,
#career-learn,
#career-incoming {
  padding: 9px;
  @include font-family_SF-Pro;
  font-weight: 600;
  border-bottom: solid 2px map-get($color-map, grey__dark);
  border-radius: 9px 9px 0 0;
}

.skill-map-box > li,
.learn-map-box > li,
.roadmap-map-box > li {
  @include flex(column, wrap, center, center, 0.6rem);
}
.career-roadmap-skill-title-container,
.career-learn-skill-title-container,
.career-graduated-skill-title-container {
  @include flex(row, nowrap, center, center, 0.6rem);
  @include width-height(100%, initial);
  .head-graduated,
  .head-learn,
  .head-incoming {
    @include flex(row-reverse, nowrap, space-between, center, 1.8rem);
    cursor: pointer;
    @include width-height(100%, initial);
    .caret-down {
      @include width-height(18px, 18px);
    }
    .head-title-container {
      @include flex(row, nowrap, space-between, center, 1.8rem);
      .career-dot-container {
        border: solid 3px map-get($color-map, grey__dark);
        border-radius: 18px;
        @include width-height(18px, 18px);
      }
    }
  }
}

.skill-map-box,
.learn-map-box,
.roadmap-map-box {
  margin: 0 7px;
  padding: 18px 9px;
  border-left: solid 3px map-get($color-map, grey__dark);
  // border-radius: 6px;
  @include flex(row, wrap, center, center, 1.8rem);
  width: 100%;
  @media screen and (min-width: 676px) {
  }
}
.roadmap-map-box {
  .decoration-box {
    justify-content: center !important;
    @media screen and (min-width: 676px) {
      width: 100%;
    }
    .text-color {
      width: 30%;
    }
    .courses-skills-description-container {
      width: 90%;
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.logo {
  @include width-height(39px, 39px);
}

.learns-skills-logo,
.logo {
  // border: solid 3px transparent;
  border-radius: 39px;
  @include flex(column, nowrap, center, center, initial);
  // box-shadow: map-get($box-shadow, shadow__card);
}
