.form-container {
  @include flex(column, nowrap, center, center, 0.6rem);
  @include width-height(100%, initial);
  #form {
    padding: 18px;
    @include flex(row, nowrap, initial, initial, 0.6rem);
    @include width-height(100%, 100%);
    .informations-fields,
    .message-fields {
      @include flex(column, nowrap, center, center, 1rem);
      @include width-height(100%, initial);
    }
  }
  .btn-submit-container {
    .btn-submit {
      padding: 9px;
      outline: solid 3px map-get($color-map, grey__dark);
      border: solid 3px map-get($color-map, white__normal);
      border-radius: 3px;
      background-color: map-get($color-map, white__normal);
      box-shadow: map-get($box-shadow, shadow__card);
      transition: 0.6s ease-in-out;
      &:hover {
        border: solid 3px map-get($color-map_2, Georgia_Peach);
      }
    }
  }
}
input,
textarea {
  padding: 18px;
  outline: solid 3px map-get($color-map, grey__dark);
  border: solid 3px map-get($color-map, white__normal);
  border-radius: 3px;
  box-shadow: map-get($box-shadow, shadow__card);
  transition: 0.6s ease-in-out;
  &:hover {
    border: solid 3px map-get($color-map_2, Georgia_Peach);
  }
  &:focus {
    border: solid 3px map-get($color-map, grey__dark);
    outline: solid 3px map-get($color-map_2, Georgia_Peach);
  }
}
label {
  @include flex(column, nowrap, center, center, initial);
  @include width-height(100%, 100%);
  input {
    @include width-height(81%, initial);
  }
  textarea {
    @include width-height(100%, 100%);
  }
}
