.main-container {
  @include flex(column, nowrap, initial, center, initial);
  .subtitle-container {
    margin-top: 63px;
    @include font-family_SF-Pro;
    @include flex(row, nowrap, initial, center, initial);
    width: 100%;
    @media screen and (max-width: 720px) {
      @include flex(column, nowrap, initial, center, initial);
      border-radius: 81px;
    }
    .boxA {
      order: 2;
      @include flex(column, nowrap, initial, center, initial);
      width: 90%;
      @media screen and (min-width: 720px) {
        width: 70%;
      }
      .subtitle {
        margin-bottom: 0;
        font-size: x-large;
        @media screen and (min-width: 720px) {
          font-size: large;
        }
      }
      .description {
        @include font-family_SF-Pro;
        @include flex(column, nowrap, initial, flex-start, initial);
        text-align: center;
        @media screen and (min-width: 720px) {
          width: 80%;
        }
        .text {
          margin-bottom: 0;
          @include font-family_Roboto;
          font-size: 16px;
          text-align: left;
          @media screen and (min-width: 720px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
