@import '../partial';
.section-container {
  @include font-family_SF-Pro;
  .section {
    padding: 27px;
    border-radius: 18px;
    background: map-get($color-map, grey__light);
    .section-title-container {
      @include flex(column, nowrap, center, center, initial);
      font-size: small;
      .section-title {
        margin-top: 6px;
      }
    }
    .description-box {
      @include flex(row, wrap, center, center, 9px);
      .description-container {
        padding: 6px;
        @include flex(column, nowrap, center, center, initial);
        border-radius: 9px;
        @include width-height(110px, inherit);
        box-shadow: map-get($box-shadow, shadow__card);
        background-color: map-get($color-map, white__normal);
        .description-item-container {
          .description-item {
            margin-top: 3px;
            padding: 6px;
            @include border__solid(1px, map-get($color-map, grey__light));
            border-radius: 9px;
            font-size: 12px;
          }
        }
        .logo-container {
          margin-bottom: 3px;
          .logo {
            @include width-height(51px, 51px);
            border-radius: 9px;
          }
        }
        .description-separator-container {
          @include flex(row, nowrap, center, center, initial);
          @include width-height(100%, inherit);
          .description-separator {
            @include border__solid(1px, map-get($color-map, grey__light));
            @include width-height(100%, inherit);
          }
        }
      }
    }
  }
}
