.service-container {
  margin: 33px;
  @include flex(column, nowrap, initial, initial, 0.6rem);
  .service-titles-container {
    .service-title {
      @include font-family_Roboto;
    }
  }
  .service-box {
    @include flex(row, nowrap, space-between, initial, 0.6rem);
    .service-list-container {
      .service-list {
        @include flex(column, nowrap, initial, initial, 0.6rem);
        .service-list-item-box {
          @include flex(row, nowrap, initial, center, 0.6rem);
          padding: 9px;
          border-radius: 3px;
          box-shadow: map-get($box-shadow, shadow__card);
          @include width-height(180px, 60px);
          cursor: pointer;
          .service-list-item {
            list-style: none;
          }
        }
      }
    }
    .service-description-container {
      margin: 16px 0;
      border-radius: 3px;
      box-shadow: map-get($box-shadow, shadow__card);
      width: 100%;
    }
  }
}
