#services {
  padding: 18px 0;
  .services-title-container {
    margin-top: 9px;
    padding: 0 27px;
    @include flex(row, nowrap, space-between, center, initial);
    border-top: solid 27px #353535;
    @include width-height(100%, 90px);
    .services-title {
      font-size: 21px;
      font-weight: 600;
      font-style: normal;
    }
    .link-to-home {
      font-weight: 500;
      &:hover {
        color: map-get($color-map, red__pink__identity);
        text-decoration: underline;
      }
    }
  }
  .services-box {
    @include flex(row, nowrap, space-between, initial, 0.6rem);
    box-shadow: map-get($box-shadow, shadow__card) inset;
    .services-description-container {
      margin: 16px;
      padding: 27px;
      border-radius: 3px;
      @include flex(row, wrap, center, initial, 3rem);
      background-color: map-get($color-map, grey__light);
      width: 100%;
      .services-title-box {
        @include flex(row, nowrap, space-between, initial, 0.6rem);
        .services-title {
          border-bottom: solid 3px map-get($color-map, grey__dark);
          @include font-family_Roboto;
          width: fit-content;
        }
      }
      .services-container {
        padding: 15px;
        outline: solid 2px map-get($color-map, grey__light);
        border-radius: 3px;
        @include flex(column, nowrap, center, initial, 0.6rem);
        flex: auto;
        background-color: map-get($color-map, white__normal);
        box-shadow: map-get($box-shadow, shadow__card);
        cursor: pointer;
        @include width-height(100%, auto);
        &:hover {
          outline: solid 2px map-get($color-map_2, Georgia_Peach);
          .services-title-box {
            .services-title {
              color: map-get($color-map, red__pink__identity);
              border-bottom: solid 3px map-get($color-map, red__pink__identity);
            }
          }
        }
        @media screen and (min-width: 675px) {
          @include width-height(45%, auto);
        }
        .services-content-box {
          padding: 9px;
          margin: auto;
        }
      }
    }
  }
}
