.main-tab-container {
  margin-top: 27px;
  padding: 0 27px;
  @include flex(column, nowrap, center, flex-end, initial);
  border-top: solid 27px map-get($color-map, grey__dark);
  height: 90px;
  width: 100%;
  .main-tab-box {
    @include flex(row, nowrap, initial, center, 0.6rem);
    width: 100%;
    .click-text-button {
      display: none;
      cursor: pointer;
      @media screen and (min-width: 675px) {
        @include flex(row, nowrap, center, center, initial);
        width: 120px;
      }
    }
    .tab-box {
      padding: 0 9px;
      border-radius: 90px;
      @include flex(row, nowrap, space-between, initial, initial);
      h2 {
        @include font-family_Roboto;
        font-weight: 400;
        font-style: normal;
      }
    }
    .main-tab-content {
      border-radius: 0;
      width: 100%;
    }
    .main-tab-item {
      width: auto;
    }
  }
}
.tab {
  padding: 9px 18px;
  outline: solid 3px map-get($color-map, white__normal);
  border: solid 2px transparent;
  border-radius: 9px;
  text-align: center;
  width: 150px;
  cursor: pointer;
  box-shadow: map-get($box-shadow, shadow__card);
}

.tab-skills,
.tab-projects {
  padding: 0;
  @include flex(row, nowrap, center, center, 2rem);
  border-radius: inherit;
  border: solid 2px map-get($color-map, grey__dark);
  @include width-height(1.6rem, 1.6rem);
  transition: 0.3s ease-in-out 0.3s;
  transform: rotateZ(-180deg);
  animation: shadowAnimation 3s ease-in-out 3s both infinite;
  opacity: 1;
  outline: solid 3px transparent;
  &:hover {
    // animation: none;
    outline: solid 3px map-get($color-map, grey__dark);
    border: solid 2px transparent;
    svg {
      color: black;
      background-color: orange;
      border-radius: 33px;
    }
  }
  svg {
    height: 100%;
    width: 100%;
  }
}
