@keyframes shadowAnimation {
  0% {
    box-shadow: map-get($box-shadow, shadow__card_grey_ANIM);
  }
  50% {
    box-shadow: map-get($box-shadow, shadow__card_orange_ANIM);
  }
  100% {
    box-shadow: map-get($box-shadow, shadow__card_grey_ANIM);
  }
}
@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}
@keyframes rotate-infinite {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(1080deg);
  }
}
@keyframes rotate_Y {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}
@keyframes rotate_180 {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}
@keyframes rotate_90_reverse {
  0% {
    transform: rotateZ(-90deg);
  }
  100% {
    transform: rotateZ(90deg);
  }
}
@keyframes translate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
