.rotate-animate {
  animation: rotate_180 0.3s ease-in-out both;
}

.iframe-display {
  @include flex(column, nowrap, initial, initial, initial);
  @include width-height(100%, 100%);
}
.iframe-not-display {
  display: none;
}

.viewer-box {
  @include flex(column, nowrap, initial, initial, initial);
  @include width-height(100%, 400px);
}

.common-class-wrapper {
  @include flex(column, nowrap, initial, center, initial);
  box-shadow: map-get($box-shadow, shadow__card) inset;
  animation: opacityAnimation 1s ease-in-out both;
}

.text-color {
  padding: 3px 18px;
  outline: solid 1px map-get($color-map, white__normal);
  border: solid 3px map-get($color-map, grey__dark_2);
  border-radius: 27px;
  @include flex(row, nowrap, center, center, initial);
  background-color: map-get($color-map, white__normal);
  color: map-get($color-map, grey__dark);
  width: auto;
  &:hover {
    color: map-get($color-map, red__pink__identity);
  }
}

.animate-action {
  animation: rotate 2s ease-in-out both;
}
.animate-action2 {
  animation: rotate 2s ease-in-out both;
}
