/* Mixin */
@mixin flex($value0, $value1, $value2, $value3, $value4) {
  display: flex;
  flex-flow: $value0 $value1;
  justify-content: $value2;
  align-items: $value3;
  gap: $value4;
}
@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

/* Border Mixin */
@mixin border__solid($size, $color-map) {
  border: $size solid $color-map;
}

/* Font Family Mixins*/
@mixin font-family_Braah_One {
  font-family: 'Braah One', sans-serif;
}
@mixin font-family_Golos_Text {
  font-family: 'Golos Text', sans-serif;
}
@mixin font-family_Pacifico {
  font-family: 'Pacifico', sans-serif;
}
@mixin font-family_Roboto {
  font-family: 'Roboto', sans-serif;
}
@mixin font-family_Rubik_Vinyl {
  font-family: 'Rubik Vinyl', cursive;
}
@mixin font-family_Shrinkhand {
  font-family: 'Shrikhand', cursive;
}
@mixin font-family_Vina_Sans {
  font-family: 'Vina Sans', cursive;
}
@mixin font-family_Ysabeau {
  font-family: 'Ysabeau', sans-serif;
}
@mixin font-family_SF-Pro {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Color Map */
$color-map: (
  background__grey: #f7f7f7,
  primary: #9356dc,
  secondary: #fca311,
  green__light: #99e2d0,
  green__dark: #008766,
  blue__light: #89c8fa,
  blue__dark: #003a68,
  white__normal: #ffffff,
  black__normal: #101010,
  grey__dark: #353535,
  grey__dark_2: #414141,
  grey__light: #eaeaea,
  btn_gradient_color: #ff79da,
  red__pink__identity: rgba(212, 25, 94, 1),
);

$color-map_2: (
  Rich_Gardenia: #f97f51,
  Magenta_Purple: #6d214f,
  Spiro_Disco_Ball: #25ccf7,
  Clear_Chill: #1b9cfc,
  Bluebell: #3b3b98,
  Georgia_Peach: #fd7272,
  Sasquatch_Socks: #fc427b,
  Sweet_Garden: #55e6c1,
  Keppel: #58b19f,
  Oasis_Stream: #9aecdb,
  Ships_Of: #2c3a47,
);

/* Shadow Map */
$box-shadow: (
  shadow__card: 0px 4px 10px rgba(0, 0, 0, 0.25),
  shadow__card_grey_ANIM: 0px 0px 10px 10px rgba(255, 255, 255, 0.25),
  shadow__card_red_ANIM: 0px 0px 10px 10px rgba(212, 25, 94, 1),
  shadow__card_orange_ANIM: 0px 0px 10px 10px #ffa136,
  shadow__card_green_ANIM: 0px 0px 10px 10px #99e2d0,
  shadow__card_2: 0px 4px 10px rgba(255, 255, 255, 0.25),
  shadow__card-out: 0px 2px 8px rgba(0, 0, 0, 0.25),
  shadow__menu__card: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1),
);
