@import './partial';
* {
  @include font-family_SF-Pro;
  box-sizing: border-box;
}
h3,
h4,
p {
  margin: 0;
}
.title-container {
  margin: 9px 27px 27px 27px;
  padding: 6px 27px;
  outline: solid 3px map-get($color-map, grey__light);
  border: solid 3px map-get($color-map, grey__dark);
  border-radius: 18px;
  @include flex(row, nowrap, initial, center, initial);
  text-align: center;
  height: auto;
  @media screen and (min-width: 1024px) {
    text-align: initial;
  }
}

.title-container {
  .learn {
    @include flex(row, nowrap, space-between, center, 0.6rem);
    cursor: pointer;
    .learn-title {
      margin: 0;
      min-width: 72%;
    }
    .icon-container {
      @include flex(row, nowrap, center, center, initial);
      outline: solid 3px map-get($color-map, white__normal);
      border: solid 3px map-get($color-map, grey__dark);
      border-radius: 18px;
      box-shadow: map-get($box-shadow, shadow__card) inset;
      @include width-height(30px, 30px);
      cursor: pointer;
      &:hover {
        outline: solid 3px orange;
        background-color: orange;
        .roadmap-icon-trigger {
          color: map-get($color-map, grey__dark);
        }
      }
      .roadmap-icon-trigger {
        @include width-height(24px, 18px);
      }
    }
  }
}
